.chat-widget-profile-img {
	position: relative;
	padding: 5px 0;
	padding-right: 15px;
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		color: #fff;
		background-color: #777;
		border-radius: 50px;
		font-size: 16px;
		font-weight: 500;
	}
	img {
		border-radius: 50px;
		width: 40px;
		height: 40px;
	}
	i {
		display: block;
		position: absolute;
		top: 4px;
		left: 0;
		width: 12px;
		height: 12px;
		border-radius: 50px;
		border: 2px solid #fff;
		&.idle {
			background-color: #4ab46d;
		}
		&.away {
			background-color: #ff9c3e;
		}
		&.occupied {
			background-color: #b34747;
		}
		&.waiting {
			background-color: #4782b3;
		}
		&.offline {
			background-color: #858585;
		}
	}
}
.open-chat-widget {
	text-decoration: none;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #fff;
	right: 28px;
	bottom: 28px;
	background-color: #4488dc;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	z-index: 999998;
	&:hover {
		background-color: darken(#4488dc, 3);
	}
	&[data-messages]::after {
		content: attr(data-messages);
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		background-color: #b34747;
		border-radius: 50px;
		width: 20px;
		height: 20px;
		font-size: 12px;
		font-weight: 500;
	}
}
$chat-widget-border-color: #eef0f2;
.chat-widget {
	position: fixed;
	display: none;
	right: 25px;
	bottom: 25px;
	box-shadow: 0px 0px 25px 2px rgba(0,0,0,.1);
	z-index: 999999;
	opacity: 0;
	transform: translateY(100px);
	border-radius: 5px;
	background-color: #fff;
	width: 300px;
	height: 500px;
	visibility: hidden;
	transition: all .2s ease;
	flex-flow: column;
	overflow: hidden;
	&.open {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
	.chat-widget-header {
		display: flex;
		width: 100%;
		height: 50px;
		align-items: center;
		border-bottom: 1px solid $chat-widget-border-color;
		.close-chat-widget-btn {
			display: block;
			text-decoration: none;
			font-size: 28px;
			margin-left: auto;
			padding: 0 15px;
			margin-bottom: 5px;
			color: darken($chat-widget-border-color, 20);
			&:hover {
				color: darken($chat-widget-border-color, 25);
			}
		}
		.previous-chat-tab-btn {
			display: none;
			text-decoration: none;
			font-size: 32px;
			padding: 0 15px;
			margin-bottom: 7px;
			color: darken($chat-widget-border-color, 20);
			&:hover {
				color: darken($chat-widget-border-color, 25);
			}
		}
	}
	.chat-widget-content {
		display: flex;
		flex-grow: 1;
	}
	.chat-widget-tabs {
		display: flex;
		height: 100%;
		width: 100%;
		overflow: hidden;
		.chat-widget-tab {
			display: flex;
			flex-flow: column;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			overflow: hidden;
			transition: all ease .2s;
			&.chat-widget-login-tab {
				justify-content: center;
				form {
					display: flex;
					flex-flow: column;
					justify-content: center;
					padding: 15px;
					width: 100%;
					input, button {
						border-radius: 25px;
						padding: 10px 15px;		
						margin-bottom: 15px;	
						font-size: 14px;			
					}
					input {
						border: 1px solid darken($chat-widget-border-color, 5);
					}
					button {
						appearance: none;
						color: #fff;
						font-weight: 500;
						background-color: #4488dc;
						border: 0;
						cursor: pointer;
						&:hover {
							background-color: darken(#4488dc, 5);
						}
					}
					.msg {
						font-weight: 500;
						margin: 0;
						padding-bottom: 15px;
						font-size: 14px;
					}
				}
			}
			&.chat-widget-conversations-tab {
				.chat-widget-conversations {
					display: flex;
					flex-flow: column;
					flex-grow: 1;
					flex-basis: 0;
					overflow-y: auto;
					scrollbar-width: thin;
					.chat-widget-new-conversation {
						text-decoration: none;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 15px;
						border-bottom: 1px solid $chat-widget-border-color;
						font-weight: 500;
						color: #888b8f;	
						font-size: 14px;	
						&:hover {
							background-color: lighten($chat-widget-border-color, 3);
						}
					}
					.chat-widget-user {
						display: flex;
						text-decoration: none;
						padding: 10px;
						.chat-widget-details {
							h3 {
								padding-top: 4px;
								margin: 0;
								font-weight: 500;
								color: mix($chat-widget-border-color, #000, 40);
								&.admin {
									color: #cc0000;
								}
								&.operator {
									color: #006cd1;
								}
							}
							p {
								margin: 0;
								font-size: 14px;
								color: mix($chat-widget-border-color, #000, 60);
								overflow: hidden; 
								white-space: nowrap; 
								text-overflow: ellipsis;
								max-width: 160px;
								&.unread {
									font-weight: 500;
								} 
							}
						}
						.date {
							display: flex;
							color: mix($chat-widget-border-color, #000, 60);
							font-size: 13px;
							padding-top: 15px;
							justify-content: flex-end;
							flex: 1;
						}
						&:hover, &.selected {
							background-color: lighten($chat-widget-border-color, 3);
						}
					}
				}
			}
			&.chat-widget-conversation-tab {
				.chat-widget-message-header {
					display: flex;
					padding: 10px;
					border-bottom: 1px solid $chat-widget-border-color;
					.chat-widget-profile-img {
						span {
							width: 30px;
							height: 30px;
							font-size: 14px;
						}
						img {
							width: 30px;
							height: 30px;
						}
						i {
							top: 4px;
							left: 1px;
							width: 8px;
							height: 8px;
							border: 1px solid #fff;
						}
					}
					.chat-widget-details {
						flex: 1;
						h3 {
							color: mix($chat-widget-border-color, #000, 40);
							font-weight: 500;
							font-size: 14px;
							padding: 0;
							margin: 0;
						}
						p {
							margin: 0;
							font-size: 12px;
							color: mix($chat-widget-border-color, #000, 60);
						}
					}
				}
				.chat-widget-messages {
					display: flex;
					flex-flow: column;
					padding: 15px;
					flex-grow: 1;
					flex-basis: 0;
					overflow-y: auto;
					scrollbar-width: thin;
					.date {
						margin: 0;
						padding: 15px;
						text-align: center;
						font-size: 12px;
						color: mix($chat-widget-border-color, #000, 60);
						font-weight: 500;
					}
					.chat-widget-message {
						align-self: flex-end;
						background-color: #4488dc;
						color: #fff;
						padding: 8px 12px;
						border-radius: 4px;
						overflow-wrap: break-word;
						word-break: break-all;
						word-break: break-word;
						max-width: 90%;
						margin-bottom: 10px;
						font-size: 14px;
						&.alt {
							align-self: flex-start;
							background-color: #e2e6eb;
							color: #000;
						}
					}
					.chat-widget-message-attachments {
						align-self: flex-end;
						max-width: 150px;
						font-size: 14px;
						color: mix($chat-widget-border-color, #000, 40);
						background-color: lighten($chat-widget-border-color, 2);
						padding: 5px 8px;
						margin-bottom: 10px;
						border-radius: 50px;
						cursor: pointer;				
						&::before {
							font: var(--fa-font-solid);
							content: "\f0c6";
							margin-right: 5px;
							font-size: 14px;
						}
						&:hover {
							background-color: lighten($chat-widget-border-color, 3);
						}
						&.alt {
							align-self: flex-start;
						}
					}
					.chat-widget-message-attachments-links {
						height: 0;
						overflow: hidden;
					}
				}
				.chat-widget-attachments {
					display: flex;
					border-top: 1px solid $chat-widget-border-color;
					div, a {
						appearance: none;
						position: relative;
						display: flex;
						text-decoration: none;
						align-items: center;
						justify-content: center;
						color: darken($chat-widget-border-color, 20);
						background-color: lighten($chat-widget-border-color, 3);
						border-radius: 50px;
						font-size: 12px;
						margin: 10px 5px;
						padding: 4px 6px;
						cursor: pointer;
						border: 0;
						&:hover {
							color: darken($chat-widget-border-color, 25);
							background-color: lighten($chat-widget-border-color, 4);
						}
					}
					div {
						&::before {
							font: var(--fa-font-solid);
							content: "\f0c6";
							margin-right: 5px;
						}
						&:first-child {
							margin-left: 20px;
						}
					}
				}
				.chat-widget-input-message {
					height: 60px;
					padding: 10px;
					display: flex;
					width: 100%;
					input[type="text"], textarea {
						width: 100%;
						resize: none;
						height: 100%;
						padding: 10px 15px;		
						font-size: 14px;	
						border: 0;
						outline: 0;
					}
					input[type="file"] {
						display: none;
					}
					.actions {
						display: flex;
						padding-top: 5px;
						justify-content: center;
						a, div, button {
							appearance: none;
							position: relative;
							display: flex;
							text-decoration: none;
							align-items: center;
							justify-content: center;
							color: darken($chat-widget-border-color, 20);
							background-color: lighten($chat-widget-border-color, 3);
							border-radius: 50px;
							width: 30px;
							height: 30px;
							margin-left: 6px;
							cursor: pointer;
							border: 0;
							&:hover {
								color: darken($chat-widget-border-color, 25);
								background-color: lighten($chat-widget-border-color, 2);
							}
							i {
								font-size: 14px;
								padding: 10px;
							}
						}
						.emoji-list {
							display: none;
							padding: 5px;
							border-radius: 4px;
							min-height: 150px;
							max-height: 150px;
							overflow: hidden;
							overflow-y: auto;
							background-color: #fff;
							position: absolute;
							bottom: calc(100% + 10px);
							right: 0;
							box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.10);
							flex-flow: wrap;
							min-width: 150px;
							max-width: 150px;
							span {
								padding: 2px;
								cursor: pointer;
								&:hover {
									background-color: darken($chat-widget-border-color, 3);
								}
							}
							&.open {
								display: flex;
							}
						}
					}
				}
			}
		}
	}
}
.chat-widget-scroll::-webkit-scrollbar {
	width: 8px;
}
.chat-widget-scroll::-webkit-scrollbar-track {
	background: transparent;
}
.chat-widget-scroll::-webkit-scrollbar-thumb {
	background-color: #cdd0d380;
	border-radius: 15px;
	border: transparent;
}
@media screen and (max-width: 350px) {
	.chat-widget {
		width: 250px;
	}
}